<template>
  <div id="app">
    <div id="nav">
      <span v-if="isAuthenticated">Is authenticated</span>
      <router-link to="/home">Home</router-link> |
      <router-link to="/about">About</router-link>
    </div>
    <router-view/>
  </div>
</template>
<script>
import { mapMutations, mapActions } from 'vuex';

export default {
  data(){
    return {
    }
  },
  computed:{
    isAuthenticated() {
      return this.$store.getters['auth/isAuthenticated']
    }
  },
  mounted () {
    // Mutacje i akcje możemy przypisać do komponenty jako metody dzięki
    // mapActions i mapMutations

    // Wywoływanie mutacji na dwa sposoby
    this.$store.commit('setIsMobile', true); // Bezpośrednio ze store
    this.setIsMobile(true); // Poprzez mapMutations 

    setTimeout(()=>{
      // To samo z akcjami 
      this.$store.dispatch('auth/auth', true);
    }, 2000);
  },
  methods: {
    ...mapActions({
      auth: 'auth/auth',
    }),
    ...mapMutations({
      setIsMobile: 'setIsMobile'
    })
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
